<a href="https://colab.research.google.com/github/janmanjan/project-5/blob/main/project_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **EDA / Cleaning**

In [ ]:
#eda imports
import pandas as pd

#mounting
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
#reading in our co2 data set
co2 = pd.read_csv('/content/co2_mm_gl.txt', delim_whitespace=True, index_col=None)
co2.head()

   year  month   decimal  average   trend
0  1980      1  1980.042   338.55  337.93
1  1980      2  1980.125   339.27  338.22
2  1980      3  1980.208   339.60  338.25
3  1980      4  1980.292   339.99  338.37
4  1980      5  1980.375   340.43  338.90

In [ ]:
#saving cleaned data frame to a csv
co2.to_csv('./cleaned_data/co2_mm_gl.csv', index=False)

In [ ]:
#reading in all our north pole ice melting data
ice_1 = pd.read_csv('/content/N_01_extent_v3.0.csv', index_col=None)
ice_2 = pd.read_csv('/content/N_02_extent_v3.0.csv', index_col=None)
ice_3 = pd.read_csv('/content/N_03_extent_v3.0.csv', index_col=None)
ice_4 = pd.read_csv('/content/N_04_extent_v3.0.csv', index_col=None)
ice_5 = pd.read_csv('/content/N_05_extent_v3.0.csv', index_col=None)
ice_6 = pd.read_csv('/content/N_06_extent_v3.0.csv', index_col=None)
ice_7 = pd.read_csv('/content/N_07_extent_v3.0.csv', index_col=None)
ice_8 = pd.read_csv('/content/N_08_extent_v3.0.csv', index_col=None)
ice_9 = pd.read_csv('/content/N_09_extent_v3.0.csv', index_col=None)
ice_10 = pd.read_csv('/content/N_10_extent_v3.0.csv', index_col=None)
ice_11 = pd.read_csv('/content/N_11_extent_v3.0.csv', index_col=None)
ice_12 = pd.read_csv('/content/N_12_extent_v3.0.csv', index_col=None)

ice_1.head()

   year   mo      data-type   region   extent     area
0  1979    1        Goddard        N    15.41    12.41
1  1980    1        Goddard        N    14.86    11.94
2  1981    1        Goddard        N    14.91    11.91
3  1982    1        Goddard        N    15.18    12.19
4  1983    1        Goddard        N    14.94    12.01

In [ ]:
#combining each month of the north pole data to a csv
north_ice = pd.concat(
                      [ice_1, ice_2, ice_3, ice_4, ice_5, ice_6, ice_7, ice_8, ice_9, ice_10, ice_11, ice_12]
                      , axis=1)
#saving cleaned north pole data frame to a csv
north_ice.to_csv('./cleaned_data/north_ice.csv', index=False)

In [ ]:
#reading in all our south pole ice melting data
ice_1 = pd.read_csv('/content/S_01_extent_v3.0.csv', index_col=None)
ice_2 = pd.read_csv('/content/S_02_extent_v3.0.csv', index_col=None)
ice_3 = pd.read_csv('/content/S_03_extent_v3.0.csv', index_col=None)
ice_4 = pd.read_csv('/content/S_04_extent_v3.0.csv', index_col=None)
ice_5 = pd.read_csv('/content/S_05_extent_v3.0.csv', index_col=None)
ice_6 = pd.read_csv('/content/S_06_extent_v3.0.csv', index_col=None)
ice_7 = pd.read_csv('/content/S_07_extent_v3.0.csv', index_col=None)
ice_8 = pd.read_csv('/content/S_08_extent_v3.0.csv', index_col=None)
ice_9 = pd.read_csv('/content/S_09_extent_v3.0.csv', index_col=None)
ice_10 = pd.read_csv('/content/S_10_extent_v3.0.csv', index_col=None)
ice_11 = pd.read_csv('/content/S_11_extent_v3.0.csv', index_col=None)
ice_12 = pd.read_csv('/content/S_12_extent_v3.0.csv', index_col=None)

ice_1.head()

   year   mo      data-type   region   extent     area
0  1979    1        Goddard        S     5.40     3.47
1  1980    1        Goddard        S     4.56     3.08
2  1981    1        Goddard        S     4.41     2.84
3  1982    1        Goddard        S     5.26     3.25
4  1983    1        Goddard        S     4.77     3.21

In [ ]:
#combining each month of the south pole data to a csv
south_ice = pd.concat(
                      [ice_1, ice_2, ice_3, ice_4, ice_5, ice_6, ice_7, ice_8, ice_9, ice_10, ice_11, ice_12]
                      , axis=1)

#saving cleaned south pole data frame to a csv
south_ice.to_csv('./cleaned_data/south_ice.csv', index=False)