## Imports

In [1]:
import pandas as pd
import numpy as np

## Importing Data

In [2]:
eng = pd.read_csv('./1718-bexiting-1.csv')
#non_eng = pd.read_csv('./1718-bexiting-5.csv')

income = pd.read_csv('./Untitled spreadsheet - Sheet1.csv')
teacher_salary = pd.read_csv('./tabn211.60.csv')

In [3]:
eng.drop(columns=["Graduated with alternate high school diploma", "Dropped\nout3", "Died"], inplace=True)
#non_eng.drop(columns=["Graduated with alternate high school diploma", "Died"], inplace=True)

In [4]:
eng.rename(columns={"Exiting \ntotal2":"Total", "Graduated with regular high school diploma":"Graduated", "Moved, known\nto be\ncontinuing4":"Moved", "Reached \nmaximum \nage5":"Max Age", "Received a \ncertificate":"Certif", "Transferred to\nregular\neducation":"Transferred"}, inplace=True)
#non_eng.rename(columns={"Exiting \ntotal2":"Total", "Graduated with regular high school diploma":"Graduated", "Moved, known\nto be\ncontinuing4":"Moved", "Reached \nmaximum \nage5":"Max Age", "Received a \ncertificate":"Certif", "Transferred to\nregular\neducation":"Transferred"}, inplace=True)

In [5]:
eng.drop([1,2,5,10,11,39,44,45,46,54], inplace=True)

In [6]:
'''eng = eng[eng != 'x']
eng = eng[eng != '-']
eng.dropna(inplace=True)'''

'''non_eng = non_eng[non_eng != 'x']
non_eng = non_eng[non_eng != '-']
non_eng.dropna(inplace=True)'''

"non_eng = non_eng[non_eng != 'x']\nnon_eng = non_eng[non_eng != '-']\nnon_eng.dropna(inplace=True)"

In [7]:
income.rename(columns={'Name':'State', '2018':'Income'}, inplace=True)
income = income.drop([0,9])

In [8]:
teacher_salary.columns

Index(['Table 211.60. Estimated average annual salary of teachers in public elementary and secondary schools, by state: Selected years, 1969-70 through\n              2018-19         ',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15'],
      dtype='object')

In [9]:
teacher_salary.rename(columns={'Table 211.60. Estimated average annual salary of teachers in public elementary and secondary schools, by state: Selected years, 1969-70 through\n              2018-19         ':'State', 'Unnamed: 14':'Salary'})
teacher_salary = teacher_salary[['State', 'Salary']]
teacher_salary = teacher_salary.drop([0, 1, 2, 3, 13])

KeyError: "None of [Index(['State', 'Salary'], dtype='object')] are in the [columns]"

In [ ]:
li = []
for y in list(teacher_salary.State):
    new_word = ''
    for x, charac in enumerate(y):
        if x and charac.isupper():
            new_word += ' '
        new_word += charac
    li.append(new_word)

In [ ]:
teacher_salary.State = li

In [ ]:
teacher_salary.rename(columns={'Table 211.60. Estimated average annual salary of teachers in public elementary and secondary schools, by state: Selected years, 1969-70 through\n              2018-19         ':"State", 'Unnamed: 14':'Salary'}, inplace=True)

In [ ]:
combos = pd.merge(eng, teacher_salary)
combos = pd.merge(combos, income)
combos.shape

--------------------------------