Checking out data sets of annual, country-level data:

In [2]:
import pandas as pd

In [15]:
#Annual co2 emissions for all countries as early as 1750
#data includes estimates of course but the more recent years we'd consider are more accurate

co2 = pd.read_csv('../data/annual_country_co2.csv')
co2.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1949                 14656
1  Afghanistan  AFG  1950                 84272
2  Afghanistan  AFG  1951                 91600
3  Afghanistan  AFG  1952                 91600
4  Afghanistan  AFG  1953                106256

In [16]:
co2[['Entity', 'Year', 'Annual CO2 emissions']]

            Entity  Year  Annual CO2 emissions
0      Afghanistan  1949                 14656
1      Afghanistan  1950                 84272
2      Afghanistan  1951                 91600
3      Afghanistan  1952                 91600
4      Afghanistan  1953                106256
...            ...   ...                   ...
23944     Zimbabwe  2016              10737567
23945     Zimbabwe  2017               9581633
23946     Zimbabwe  2018              11854367
23947     Zimbabwe  2019              10949084
23948     Zimbabwe  2020              10531342

[23949 rows x 3 columns]

In [17]:
co2[['Entity', 'Year']].groupby(['Entity']).min().sort_values(['Year'], ascending=False).head()

                      Year
Entity
Kosovo                2008
Timor                 2002
Wallis and Futuna     2001
Marshall Islands      1992
Micronesia (country)  1992

In [18]:
#This data is the same shape as previous but values are % of world emissions so it's effectively already scaled

share_co2 = pd.read_csv('../data/annual-share-of-co2-emissions.csv')
share_co2.head()
share_co2 = share_co2.loc[share_co2['Year']>1989]

        Entity Code  Year  Share of global annual CO2 emissions
0  Afghanistan  AFG  1949                                   0.0
1  Afghanistan  AFG  1950                                   0.0
2  Afghanistan  AFG  1951                                   0.0
3  Afghanistan  AFG  1952                                   0.0
4  Afghanistan  AFG  1953                                   0.0

In [39]:
#not country level data but temp anomaly is the deviation from the 1950-1980 average temp for each year in the time period. 
#data is also monthly
#temp_anom = pd.read_csv('../data/climate-change.csv')
#temp_anom.head()

In [106]:
temp_anom.shape

(5112, 4)

In [20]:
#annual country data; co2 emissions per capita; similar but not same shape as first 2 df's

co2_percap = pd.read_csv('../data/co-emissions-per-capita.csv')
co2_percap.head()

        Entity Code  Year  Annual CO2 emissions (per capita)
0  Afghanistan  AFG  1949                             0.0019
1  Afghanistan  AFG  1950                             0.0109
2  Afghanistan  AFG  1951                             0.0117
3  Afghanistan  AFG  1952                             0.0115
4  Afghanistan  AFG  1953                             0.0132

In [40]:
#annual co2 emissions, annual gdp(ppp), and consumption-based emissions

#co2_gdp = pd.read_csv('../data/co2-emissions-and-gdp.csv')
#co2_gdp.head()

In [22]:
#annual emissions from transportation (tons co2)

transport = pd.read_csv('../data/co2-emissions-transport.csv')
transport.head()

    Entity Code  Year  Transport (CAIT, 2020)
0  Albania  ALB  1990                700000.0
1  Albania  ALB  1991                500000.0
2  Albania  ALB  1992                400000.0
3  Albania  ALB  1993                500000.0
4  Albania  ALB  1994                600000.0

In [38]:
# annual per capita emissions from domestic transportation in 2020 $'s by country

#transport_percap = pd.read_csv('../data/per-capita-co2-transport.csv')
#transport_percap.head()

In [24]:
#amount of ozone depleting substances (ODS) consumed in tons weighted by depleting potential

ozone = pd.read_csv('../data/consumption-of-ozone-depleting-substances.csv')
ozone.head()

        Entity Code  Year  Consumption of Ozone-Depleting Substances - All
0  Afghanistan  AFG  1989                                              0.9
1  Afghanistan  AFG  1991                                              0.0
2  Afghanistan  AFG  1995                                            381.9
3  Afghanistan  AFG  1996                                            381.9
4  Afghanistan  AFG  1997                                            381.9

In [25]:
#amount of co2e (co2 and co2 equivalent weighted substance) emissions from food

food_co2e = pd.read_csv('../data/emissions-from-food.csv')
food_co2e.head()

        Entity Code  Year  Food emissions by country
0  Afghanistan  AFG  1990                 10442724.8
1  Afghanistan  AFG  1991                 10665824.8
2  Afghanistan  AFG  1992                 10805724.8
3  Afghanistan  AFG  1993                 11003824.8
4  Afghanistan  AFG  1994                 11286224.8

In [37]:
#annual global energy consumption by source (TWh Terawatt hours)

#energy_global = pd.read_csv('../data/global-primary-energy.csv')
#energy_global.head()

In [27]:
#filename was primary-energy-source-bar
#annual energy consumption by country by source (TWh)

energy_country=pd.read_csv('../data/country-primary-energy.csv')
energy_country.head()

,Entity,Code,Year,Coal Consumption - TWh,Oil Consumption - TWh,Gas Consumption - TWh,Nuclear Consumption - TWh,Hydro Consumption - TWh,Wind Consumption - TWh,Solar Consumption - TWh,Geo Biomass Other - TWh
0,Africa,NaN,1965,323.496138,327.333164,9.543754,0.0,38.626764,0.0,0.0,0.0
1,Africa,NaN,1966,323.122193,358.132674,10.669916,0.0,43.083345,0.0,0.0,0.0
2,Africa,NaN,1967,330.291585,355.281459,10.545670,0.0,44.973990,0.0,0.0,0.0
3,Africa,NaN,1968,343.512911,374.852131,10.688970,0.0,52.606502,0.0,0.0,0.0
4,Africa,NaN,1969,346.642922,379.973086,12.492000,0.0,61.391360,0.0,0.0,0.0

In [64]:
#only 94 countries
len(energy_country.Entity.unique())

94

In [66]:
#time period 1965 to 2020
energy_country.Year.describe()

count    5003.000000
mean     1993.409954
std        16.003587
min      1965.000000
25%      1980.000000
50%      1994.000000
75%      2007.000000
max      2020.000000
Name: Year, dtype: float64

In [28]:
#list of countries, year of net zero target and y/n net zero target, but only includes Yes's

net_zero_binary = pd.read_csv('../data/net-zero-target-set.csv')
net_zero_binary.head()

                Entity Code  Year Is there a net-zero target?
0  Antigua and Barbuda  ATG  2040                         Yes
1            Australia  AUS  2050                         Yes
2              Austria  AUT  2040                         Yes
3              Bahrain  BHR  2060                         Yes
4             Barbados  BRB  2030                         Yes

In [76]:
net_zero_binary['Is there a net-zero target?'].value_counts()

Yes    66
Name: Is there a net-zero target?, dtype: int64

In [34]:
#countries, year of target, status of target

#net_zero_targets = pd.read_csv('../data/net-zero-targets.csv')
#net_zero_targets.head()

In [36]:
#net_zero_targets['Status of net-zero target'].value_counts()

In [30]:
#Exposure to air pollution with fine particulate matter(PM25), 1990 to 2017 by country

airpol = pd.read_csv('../data/PM25-air-pollution.csv')
airpol.head()

,Entity,Code,Year,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)"
0,Afghanistan,AFG,1990,65.486792
1,Afghanistan,AFG,1995,65.179513
2,Afghanistan,AFG,2000,64.922462
3,Afghanistan,AFG,2005,64.522683
4,Afghanistan,AFG,2010,65.245592

In [31]:
# annual share of deaths caused by air pollution by country 1990-2017

airpol_death_share = pd.read_csv('../data/share-deaths-air-pollution.csv')
airpol_death_share.head()

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,21.328446
1,Afghanistan,AFG,1991,21.011770
2,Afghanistan,AFG,1992,21.192810
3,Afghanistan,AFG,1993,21.367169
4,Afghanistan,AFG,1994,21.094811

In [35]:
# annual death rate caused by air pollution by country

#airpol_death_rate = pd.read_csv('../data/outdoor-pollution-death-rate.csv')
#airpol_death_rate.head()

In [100]:
#df.loc[df['Entity']=='United States']

In [104]:
#temp anomaly by region

#pd.read_csv('./data/temperature-anomaly.csv')

In [33]:
#annual total ghg emissions by country

ghg = pd.read_csv('../data/total-ghg-emissions.csv')
ghg.head()

        Entity Code  Year  Total GHG emissions including LUCF (CAIT)
0  Afghanistan  AFG  1990                                 15140000.0
1  Afghanistan  AFG  1991                                 15060000.0
2  Afghanistan  AFG  1992                                 13600000.0
3  Afghanistan  AFG  1993                                 13430000.0
4  Afghanistan  AFG  1994                                 13240000.0