In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/mmoli/GA/projects/group_project/data/new_cleaned/all_cleaned.csv')

In [3]:
df.corr()

,Year,Deaths %,CO2 Emissions,CO2 Emissions Per Cap,Food Emissions,Total GHG,Consumption of Ozone,Shared CO2 Emissions,Transport
Year,1.000000,-0.034864,0.034179,-0.005093,0.009182,0.035907,-0.159039,-0.006780,0.027781
Deaths %,-0.034864,1.000000,-0.024582,-0.203922,0.045427,-0.012305,0.025220,-0.028540,-0.162498
CO2 Emissions,0.034179,-0.024582,1.000000,0.178307,0.706937,0.970737,0.488008,0.986830,0.841720
CO2 Emissions Per Cap,-0.005093,-0.203922,0.178307,1.000000,-0.004039,0.136319,0.076371,0.186333,0.219556
Food Emissions,0.009182,0.045427,0.706937,-0.004039,1.000000,0.835498,0.427005,0.705334,0.560457
Total GHG,0.035907,-0.012305,0.970737,0.136319,0.835498,1.000000,0.485066,0.958056,0.804186
Consumption of Ozone,-0.159039,0.025220,0.488008,0.076371,0.427005,0.485066,1.000000,0.571695,0.392638
Shared CO2 Emissions,-0.006780,-0.028540,0.986830,0.186333,0.705334,0.958056,0.571695,1.000000,0.857859
Transport,0.027781,-0.162498,0.841720,0.219556,0.560457,0.804186,0.392638,0.857859,1.000000

In [4]:
from sklearn.preprocessing import StandardScaler

X = df.drop(columns='Entity')

ss = StandardScaler()
X = ss.fit_transform(X)

In [5]:
death_rate_ambient = pd.read_csv('C:/Users/mmoli/GA/projects/group_project/data/added_data/death-rate-by-source-from-air-pollution.csv')

In [6]:
death_rate_ambient = death_rate_ambient.drop(columns='Code')

In [7]:
death_rate_ambient = death_rate_ambient[death_rate_ambient['Year']<=2014]

In [8]:
death_rate_ambient

,Entity,Year,Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,1990,6.581093,370.050474,30.822693
1,Afghanistan,1991,6.267613,358.978418,29.826184
2,Afghanistan,1992,5.926444,352.766453,29.202030
3,Afghanistan,1993,5.860345,357.055923,29.429702
4,Afghanistan,1994,6.065343,362.970439,29.813259
...,...,...,...,...,...
8180,Zimbabwe,2010,1.052172,164.794230,36.070049
8181,Zimbabwe,2011,1.224476,160.758352,35.971463
8182,Zimbabwe,2012,1.425288,155.417941,36.598342
8183,Zimbabwe,2013,1.491373,149.834352,37.489903
8184,Zimbabwe,2014,1.245410,146.341096,38.585143

In [9]:
death_rate_ambient.columns

Index(['Entity', 'Year',
       'Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)',
       'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)',
       'Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [10]:
death_rate_ambient.rename(columns={'Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)': 'Death_rate_ambient_ozone_pol',
                                  'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)': 'Death_rate_household_air_pol',
                                  'Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)': 'Death_rate_all_causes'}, inplace=True)

In [11]:
df = pd.merge(df, death_rate_ambient, on=['Year', 'Entity'])
df = df.loc[:,~df.columns.duplicated()]

In [12]:
df

,Entity,Year,Deaths %,CO2 Emissions,CO2 Emissions Per Cap,Food Emissions,Total GHG,Consumption of Ozone,Shared CO2 Emissions,Transport,Death_rate_ambient_ozone_pol,Death_rate_household_air_pol,Death_rate_all_causes
0,Albania,1991,17.613636,4228256,1.2889,4011691.0,9030000.0,0.00,0.02,500000.0,4.360865,98.112348,46.051505
1,Albania,1995,16.789055,2066496,0.6638,4861321.1,7480000.0,43.40,0.01,600000.0,3.420271,81.760043,37.768185
2,Albania,1996,16.588451,1993216,0.6432,4569702.9,7280000.0,43.20,0.01,600000.0,3.079414,80.923134,38.585679
3,Albania,1997,15.081361,1531552,0.4941,4431656.7,6510000.0,45.20,0.01,500000.0,3.023884,76.984826,39.243796
4,Albania,1998,15.965796,1744064,0.5607,4344061.6,6810000.0,49.60,0.01,700000.0,2.600204,72.162220,40.057266
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,Zimbabwe,2010,9.450169,7878316,0.6205,55244889.2,66540000.0,29.30,0.02,1300000.0,1.052172,164.794230,36.070049
2654,Zimbabwe,2011,10.053401,9743983,0.7557,53985614.6,67420000.0,22.22,0.03,2300000.0,1.224476,160.758352,35.971463
2655,Zimbabwe,2012,10.455091,7882889,0.6011,54211027.7,67630000.0,16.20,0.02,2600000.0,1.425288,155.417941,36.598342
2656,Zimbabwe,2013,10.691584,11836254,0.8866,54321218.5,67550000.0,15.76,0.03,2900000.0,1.491373,149.834352,37.489903
2657,Zimbabwe,2014,10.858493,11905687,0.8763,51674911.7,66100000.0,13.32,0.03,2600000.0,1.245410,146.341096,38.585143

In [13]:
death_actual_pollution = pd.read_csv('C:/Users/mmoli/GA/projects/group_project/data/added_data/deaths-from-air-pollution.csv')

In [14]:
death_actual_pollution = death_actual_pollution[death_actual_pollution['Year']<=2014]

In [15]:
death_actual_pollution = death_actual_pollution.drop(columns='Code')

In [16]:
death_actual_pollution.columns

Index(['Entity', 'Year',
       'Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [17]:
death_actual_pollution.rename(columns={'Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: All Ages (Number)': 'Death_actual_ozone',
                                      'Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)': 'Death_actual_particulate',
                                      'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Death_actual_household'}, inplace=True)

In [18]:
death_actual_pollution

,Entity,Year,Death_actual_ozone,Death_actual_particulate,Death_actual_household
0,Afghanistan,1990,387.407784,2782.438582,34372.129154
1,Afghanistan,1991,375.741978,2845.670155,35391.926521
2,Afghanistan,1992,363.533480,3030.893400,38065.060017
3,Afghanistan,1993,367.118181,3255.759737,41154.399217
4,Afghanistan,1994,386.752582,3400.959825,43153.127429
...,...,...,...,...,...
8180,Zimbabwe,2010,44.985860,2397.736662,11185.284318
8181,Zimbabwe,2011,52.856752,2447.878121,11175.865017
8182,Zimbabwe,2012,62.291564,2525.217580,10947.344599
8183,Zimbabwe,2013,66.038531,2608.930337,10636.640199
8184,Zimbabwe,2014,56.057940,2716.265744,10499.429921

In [19]:
df = pd.merge(df, death_actual_pollution, on=['Year', 'Entity'])
df = df.loc[:,~df.columns.duplicated()]

In [20]:
df

,Entity,Year,Deaths %,CO2 Emissions,CO2 Emissions Per Cap,Food Emissions,Total GHG,Consumption of Ozone,Shared CO2 Emissions,Transport,Death_rate_ambient_ozone_pol,Death_rate_household_air_pol,Death_rate_all_causes,Death_actual_ozone,Death_actual_particulate,Death_actual_household
0,Albania,1991,17.613636,4228256,1.2889,4011691.0,9030000.0,0.00,0.02,500000.0,4.360865,98.112348,46.051505,73.711348,949.199276,2033.148497
1,Albania,1995,16.789055,2066496,0.6638,4861321.1,7480000.0,43.40,0.01,600000.0,3.420271,81.760043,37.768185,63.413417,828.043002,1792.207903
2,Albania,1996,16.588451,1993216,0.6432,4569702.9,7280000.0,43.20,0.01,600000.0,3.079414,80.923134,38.585679,58.832538,858.066586,1795.573829
3,Albania,1997,15.081361,1531552,0.4941,4431656.7,6510000.0,45.20,0.01,500000.0,3.023884,76.984826,39.243796,59.782109,898.700084,1757.484535
4,Albania,1998,15.965796,1744064,0.5607,4344061.6,6810000.0,49.60,0.01,700000.0,2.600204,72.162220,40.057266,53.195387,943.590146,1691.903067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,Zimbabwe,2010,9.450169,7878316,0.6205,55244889.2,66540000.0,29.30,0.02,1300000.0,1.052172,164.794230,36.070049,44.985860,2397.736662,11185.284318
2654,Zimbabwe,2011,10.053401,9743983,0.7557,53985614.6,67420000.0,22.22,0.03,2300000.0,1.224476,160.758352,35.971463,52.856752,2447.878121,11175.865017
2655,Zimbabwe,2012,10.455091,7882889,0.6011,54211027.7,67630000.0,16.20,0.02,2600000.0,1.425288,155.417941,36.598342,62.291564,2525.217580,10947.344599
2656,Zimbabwe,2013,10.691584,11836254,0.8866,54321218.5,67550000.0,15.76,0.03,2900000.0,1.491373,149.834352,37.489903,66.038531,2608.930337,10636.640199
2657,Zimbabwe,2014,10.858493,11905687,0.8763,51674911.7,66100000.0,13.32,0.03,2600000.0,1.245410,146.341096,38.585143,56.057940,2716.265744,10499.429921

In [21]:
death_by_age = pd.read_csv('C:/Users/mmoli/GA/projects/group_project/data/added_data/number-outdoor-pollution-deaths-by-age.csv')

In [24]:
death_by_age[death_by_age['Year']<=2014]
death_by_age = death_by_age.drop(columns='Code')

In [26]:
death_by_age.columns

Index(['Entity', 'Year',
       'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 15-49 years (Number)'],
      dtype='object')

In [28]:
death_by_age.rename(columns={'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Under 5 (Number)': 'Death_under5',
                            'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 5-14 years (Number)': 'Death_5-14',
                            'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 15-49 years (Number)': 'Death_15-49',
                            'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 50-69 years (Number)': 'Death_50-69',
                            'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 70+ years (Number)': 'Death_70+'}, inplace=True
)

In [30]:
df = pd.merge(df, death_by_age, on=['Year', 'Entity'])
df = df.loc[:,~df.columns.duplicated()]

In [32]:
df.to_csv('C:/Users/mmoli/GA/projects/group_project/data/added_data/clean_with_air.csv')